.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h4 {
    margin: 4px 0 4px 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0 10px 0 10px;
}

.tabButton {
    background-color: transparent;
    border: none;
    height: 16px;
    color: #c298d8;
    margin-top: 7px;
}
.tabButton:hover {
    background: transparent !important;
    color: white !important;
    border: none !important;
}

.tabButtonClose {
    margin-right: -10px;
}

.pinnedOff {
    color: red;
}

.tabButtonPin {
    margin-left: -10px;
}

.tab-title-text {
    padding: 7px 0 7px 0;
}

.tabShowHover {
    height: 100px;
    width: 100px;
    position: fixed;
    /*margin-top: 8px;*/
    margin-left: 16px;
    background-color: rgb(42 50 61);
    border: 2px solid #c298d8;
    text-align: center;
}
.tabShowHover img {
    margin: auto;
}

.imgData {
    border: 0 none;
    color: rgba(255, 255, 255, 0.87);
    margin-top: 40px;
    width: 450px;
    position: fixed;
}

.imgData-row {
    background-color: #0000009e;
    margin-bottom: 1px;
    padding: 4px;
    font-size: 12px;
}
.imgData-row-label {
    font-weight:bold;
    color: #c298d8;
    margin-right:10px;
}

.menubar-right {
    display: flex;
    flex-direction: row;
}
.menubar-right img {
    margin-right: 10px;
}

.react-resizable-handle-e {
    background-color: #c298d8;
}
.react-resizable-handle-w {
    background-color: #c298d8;
    margin-left: -15px;
}
.react-resizable-handle-ne {
    background-color: #c298d8;
    transform: rotate(315deg);
    margin-left: -15px;
}
.react-resizable-handle-nw {
    background-color: #c298d8;
    margin-left: -25px;
    transform: rotate(135deg);
}

.p-tabview-panels {
    height: 100% !important;
    border-bottom-right-radius: 0px !important;
}

.p-tabview {
    height: 100%;
}

.p-menubar-root-list>li ul:is(.p-autocomplete-multiple-container) {
    display: flex;
}
.p-menubar-root-list>li ul:is(.p-autocomplete-multiple-container) {
    display: flex;
}

.imgData-row button {
    background-color: var(--cyan-300);
}

button {
    background-color: var(--indigo-200);
    border:none;
    color: var(--surface-ground);
}

.imgData-button-sendTo button{
    margin-right: 2px;
}

.img-selected {
    border: 4px solid deeppink;
}

.p-inputgroup .p-autocomplete button {
    border-top: 1px solid #3f4b5b;
    border-bottom: 1px solid #3f4b5b;
    border-left:0;
    margin-left: -1px;
}

.p-inputgroup .p-autocomplete .p-inputtext {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

