.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h4 {
    margin: 4px 0 4px 0;
}

.tabButtonClose {
    background-color: transparent;
    border: none;
    height: 16px;
    margin: 0 -16px 0 0;
    color: #c298d8;
}
.tabButtonClose:enabled:hover {
    background: transparent;
    color: white;
    border: none;
}

.tabShowHover {
    height: 100px;
    width: 100px;
    position: fixed;
    margin-top: 8px;
    margin-left: -5px;
    background-color: rgb(42 50 61);
    border: 2px solid #c298d8;
    text-align: center;
}
.tabShowHover img {
    margin: auto;
}
.imgData table {
    margin-top: 40px;
}
.imgData table tr {
    background-color: #04040475;
}

.menubar-right {
    display: flex;
    flex-direction: row;
}
.menubar-right img {
    margin-right: 10px;
}

